body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.quiz-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.progress-bar-container {
  width: 100%;
  background: #ccc;
  border-radius: 5px;
  height: 20px;
  margin: 10px 0;
  overflow: hidden;
}

.progress-bar {
  background: black;
  height: 100%;
}

.question-number {
  margin-bottom: 10px;
}

.question-container {
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.answer-options button {
  display: block;
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.answer-options button:hover {
  background-color: #eaeaea;
}

.feedback {
  margin-top: 10px;
}

.correct-text {
  color: green;
  font-weight: bold;
}

.incorrect-text {
  color: red;
  font-weight: bold;
}

.difficulty-stars {
  margin-top: 10px;
}

.difficulty-stars span {
  color: gold;
  font-size: 20px;
}

